input.input-house {
    width: 60%;
    display: block;
    margin-left: 20%;
}
.lable-house{
    display: block;
    font-size: 24px;
    margin-left: 16%;
    width: 30%;
}
.submit-info-house{
   width: 50%;
    margin-left: 25%;
}
.icon-upload-file{
    margin-left: 32%;
    font-size: 60px;
    margin-top: 16px;
}
.header-partner h1{
    color:#26A69A;
    margin-left: 16px;
    font-size: 250%;
}
.body-partner{
    animation: modalFadeIn ease 1.5s;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}