@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;900&display=swap');
/* Responsive typography */
@media screen and (min-width: 992px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}
#main{
   background-size: cover;
}
.modal-login{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.modal-container{
    background: #ffffff;
    width:400px ;
    max-width: calc(95%);
    min-height:340px;
    position: relative;
    animation: modalFadeIn ease .5s;
    margin-top: 10%;
    margin-left: 37%;
    margin-right: 35%;
    border-radius: 1rem;
}
.header-login{
    color: rgb(31 106 106);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.modal-clone{
    position: absolute;
    right: 0;
    top: 0;
    color:rgb(31 106 106);
    padding: 12px;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
}
.login{
    cursor: pointer;
}
.modal-clone:hover{
    opacity: 1;
}
.modal-body {
    top: 80px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid #999;
    background: transparent;
    font-size: 1.3rem;
    margin-left: 60px;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #26A69A, #5cb94d);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 81px;
    cursor: pointer;
}
.check-box {
    margin: 16px 0px 16px 58px;
}

.checkbox-remember {
    color: #777;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}